.links {
    display: inline-block;
    padding: 10px 40px;
    font-size: 30px;
    font-family: Georgia;
}
.links:hover {
    color: lightcoral;
    text-shadow: 1px 1px 0 black;
}
.linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}